env:
  global:
#    # COVERITY_SCAN_TOKEN
    - secure: "aiVUOTAnsbqoIMwyv/YWtpLJWuKryRz129FIK7V9RXRXWM89IzijUIHfalzk6F5pVIRA4755PL/0IKO+Z8Yb0V+mg16oyvuK5aYfUET+yDjHWuwz6wCpIMV8zFa4CsT1qs5bdMkP9HxZhnaAfG6efl85wB3UbkT0I3wj3TAEb1951C8J7INd/xptXMjLf+ik8u6+fdxF/VF0CFx1750RUYs6GcFgRsuaU+QkTRGfLNW/TD3YBW9vrmAHxhWsUW0W+6pVT4szcgxuSHa07jZBnJdu34g9Sc1xBNNkoITivTSh8pq8gumwWe8ajjHwq7UGsQr4KEcLDl7DTj/SgZMqxEJjhyoC6hL2T2duu4cjukQ1oszav8TtmFPAvySVbJ0+9mAFczsMYIXPT/7I4cQkYD8f5KmQ7RLFRl7qiACwOM9yMSFMPVslx4PJPt+rcTbgbvys8hgGcJuUMon3rXmRIKyel3q1dEo+XrCSGw538EvYjK3WBVgZO7+8wOiwWy1kCOeU19K6jIO9Vhx+tPR0zBBnr7RdI+KpRYuYGjVTXVwSLeGGpbmruqUyyr+eZ7Nk0L4yy0tPqMg1QGKBpvlGaR0BFAQ5Q7fXPBbeEZoba62UlzNZWLt+H7IJqdeUXnHCOtATqGayUFKjdImgQb+VkaMUHQgGeKsOm0P2/2RZ0DI="
  matrix:
    - TRAVIS_BUILD_TYPE=normal
    - TRAVIS_BUILD_TYPE=clang
    - TRAVIS_BUILD_TYPE=test
    - TRAVIS_BUILD_TYPE=testclang

git:
  depth: 3

language: cpp
compiler: gcc
before_install:
  - sudo add-apt-repository --yes ppa:ubuntu-sdk-team/ppa
  - sudo apt-get update -qq
  - sudo apt-get install -qq g++ qt4-qmake libqt4-dev
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

script:
  - chmod ugo+x ./scripts/travisbuild.sh
  - ./scripts/travisbuild.sh
#  - qmake -qt=qt4 -v ./src/kouets.pro
##  - qmake -qt=qt4 ./src/kouets.pro
##  - pushd .
##  - cd src
#  - ./src/gen_git_hash.sh H kouetshash
#  - ./src/gen_git_hash.sh CPP kouetshash
#  - qmake -qt=qt4 ./src/kouets.pro
#  - make
#  - echo let us TEST !!
#  - cd src/test
#  - qmake -qt=qt4 ./test.pro
#  - make clean
#  - make mocclean
#  - make
#  - mkdir debug
#  - cp test debug/test
#  - ./debug/test
#  - popd

addons:
  coverity_scan:
    # GitHub project metadata
    # ** specific to your project **
    project:
      name: o-jill/kouets
      version: 1.0
      description: Kouets
    # Where email notification of build analysis results will be sent
    notification_email: nobaokix@gmail.com
    # Commands to prepare for build_command
    # ** likely specific to your build **
    build_command_prepend:
        - ./src/gen_git_hash.sh H kouetshash
        - ./src/gen_git_hash.sh CPP kouetshash
        - qmake -qt=qt4 ./src/kouets.pro
    # The command that will be added as an argument to "cov-build" to compile your project for analysis,
    # ** likely specific to your build **
    build_command: make
    # Pattern to match selecting branches that will run analysis. We recommend leaving this set to 'coverity_scan'.
    # Take care in resource usage, and consider the build frequency allowances per
    #   https://scan.coverity.com/faq#frequency
    branch_pattern: coverity_scan
